<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="Flothari UI">
         <property
               name="applicationCSS"
               value="platform:/plugin/de.flothari.ui/css/default.css">
         </property>
         <property
               name="appName"
               value="Flothari UI">
         </property>
         <property
               name="lifeCycleURI"
               value="bundleclass://de.flothari.ui/de.flothari.ui.lifecycle.LifeCycle">
         </property>
      </product>
   </extension>
   <extension
         id="flo"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="Flothari UI">
         <property
               name="appName"
               value="Flothari UI">
         </property>
      </product>
   </extension>


</plugin>
