<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="de.flothari.ui">
         <property
               name="applicationCSS"
               value="platform:/plugin/de.flothari.ui/css/default.css">
         </property>
         <property
               name="appName"
               value="de.flothari.ui">
         </property>
      </product>
   </extension>
   <extension
         id="flothari"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="de.flothari.ui">
         <property
               name="appName"
               value="de.flothari.ui">
         </property>
      </product>
   </extension>
   <extension
         id="flothariui"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="Fothari UI">
         <property
               name="appName"
               value="Fothari UI">
         </property>
      </product>
   </extension>
   <extension
         id="floui"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ant.core.antRunner"
            name="Flothari UI">
      </product>
   </extension>
   <extension
         id="flo"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="Flothari UI">
         <property
               name="appName"
               value="Flothari UI">
         </property>
      </product>
   </extension>

</plugin>
